<div class="container">
  <div class="page-header">
    <!-- <h1>Welcome Guest!!!</h1> -->
    <div class="f-space-evenly">
      <button class="btn btn-lg" [class.btn-primary]="loggedInAs == 'vinguyen.fitsgu@gmail.com'" (click)="onLogin('vinguyen.fitsgu@gmail.com')">Login as Vix</button>
      <button class="btn btn-lg" [class.btn-primary]="loggedInAs == 'guest@gmail.com'" (click)="onLogin('guest@gmail.com')">Login as Anonymous</button>
      <button class="btn btn-lg" [class.btn-primary]="loggedInAs == 'admin@gmail.com'" (click)="onLogin('admin@gmail.com')">Login as Admin</button>
      <button class="btn btn-lg" (click)="onLogout()">Logout</button>
    </div>
  </div>
  <div class="page-main">
    <h3 class="page-title">Which writer do you like the best?</h3>
    <ul class="member-list">
      <li *ngFor="let item of members" class="member-item media">
        <div class="media-img">
          <img class="img-circle" src="{{item.avatar}}" alt="{{item.name}}">
        </div>
        <div class="media-body f-space-beetwen">
          <div class="media-info">
            <h5>{{item.name}}</h5>
            <span class="des">{{item.posts}} published posts</span>
          </div>
          <div class="media-action">
            <ng-template [isCurrentUser]="item.email">
              <button * class="btn">My Profile</button>
            </ng-template>
            <button *isAuthenticated class="btn" [disabled]="item.voted[loggedInAs]" (click)="onVote(item)">Vote</button>
            <ng-template userRole>
              <button *userRoleIs="'admin'" class="btn" [disabled]="item.voted[loggedInAs]">Remove</button>
            </ng-template>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="page-footer"></div>
</div>