/*
PAGE
*/
.page-title {
  text-align: center;
  padding-bottom: .5rem;
  margin-bottom: 0.75rem;
  border-bottom: 3px solid #cccccc;
}
.member-list,
.member-item {
  width: 100%;
}
.member-item {
  padding: 0.5rem;
  border-radius: 4px;
  box-sizing: border-box;
}
.des {
  color: #8a8a8a;
  font-size: 0.75rem;
}
.btn {
  margin-left: 4px;
}
